---
layout: default
---

{% include header.html %}
<main>
    {% comment %}
    {% include slider.html %}
	{% endcomment %}
	
	{% include call_to_action.html %}	
	{% include values_details.html %}
    {% include values.html %}
    {% include clients.html %}
    {% include services.html %}
    {% include methodology.html %}
    {% include testimonials.html %}
    {% include about.html %}
    {% include countdown.html %}
    {% include final_section.html %}

	{% comment %}
    {% include portfolios.html %}
    {% include testimonials.html %}
    {% include team_members.html %}
    {% include blog_area.html %}
	{% endcomment %}

</main>
