<section class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 text-center">
                <div class="section-title service-title">
                    <h2>À propos</h2>
                </div>
                <div class="about-content">
                    <p>L'objectif de CodeWise est de former des développeurs de tous niveaux au framework Angular et son écosystème.</p>
                </div>
                <div class="container d-flex flex-wrap justify-content-around mt-40 text-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3 class="text-center" style="height: 30px;">Apprenez efficacement</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text">Nos formations parcourent les sujets en profondeur à travers des modules courts et complets.</p>
                            </aside>
                        </div>
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3 class="text-center" style="height: 30px;">Restez à jour</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text">Les cours sont mis à jour à chaque sortie d'une nouvelle version d'Angular</p>
                            </aside>
                        </div>
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3 class="text-center" style="height: 30px;">Ne stagnez pas</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text"> Quelque soit la formation choisie, vous avez la possibilité de demander l'aide d'un formateur-expert.
                                </p>
                            </aside>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 mb-20 md-margin d-flex justify-content-center">
                <div class="about-img">
                    <img src="{{site.baseurl}}/assets/img/about/logo4.webp" class="img-fluid" alt="{{site.title}}">
                </div>
            </div>
        </div>
    </div>
</section>