<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>À propos</h2>
                </div>
                <div class="about-content">
                    <p><b>L’objectif de CodeWise est de rendre accessible aux développeurs des formations qualifiantes </b> leur permettant de monter en compétences techniques et humaines.<br/><br/>
L’entreprise répond à un besoin croissant de formations professionnelles en France, en particulier dans les milieux informatiques, où les compétences demandées par le marché évoluent rapidement. <br/><br/>
Codewise s'adresse principalement aux <b>freelances</b> ou aux <b>entreprises</b> désireuses de former leurs collaborateurs.
</p></div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 d-none d-lg-block md-margin">
                <div class="about-img text-center">
                    <img src="{{site.baseurl}}/assets/img/about/logo4.png" class="img-fluid" alt="{{site.title}}">
                </div>
            </div>
        </div>
    </div>
</section>