<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/boostez_carriere_angular_cover.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h1>Boostez votre carrière avec Angular.</h1>
                    <div class="call-to-action">
                        <a href="/pages/contact" class="btn m-1">contactez-nous</a>
						<a href="/pages/services" class="btn-off m-1">découvrez nos produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>