<div class="clients-area pt-20 pb-20 bg-off">
    <div class="container">
		<div class="row">
				<div class="clients-active owl-carousel d-flex align-items-center">
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/sncf.png" alt="SNCF">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/natixis.png" alt="Natixis">
						</div>
					</div>
					<div class="col-sm-12" style="margin-left: 20px;">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/wildcodeschool.png" alt="Wild Code School - InovEduc">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Ynov.png" alt="Ynov Group">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/CCI.png" alt="CCI - Rhône-Alpes">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/aries.png" alt="Ecoles Ariès">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/cite_du_vin.png" alt="Cité du vin">
						</div>
					</div>
					<div class="col-sm-12" style="margin-left: -20px;">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/estiam.png" alt="Estiam">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>