<div class="clients-area pt-50 pb-50">
    <div class="container">
		<div class="row">
			<div class="col-xl-12 text-center pb-40">
				<div class="section-title service-title">
					<h2> Ils nous ont fait confiance </h2>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="clients-active owl-carousel">
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/CCI.png" alt="CCI - Rhône-Alpes">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/aries.png" alt="Ecoles Ariès">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Arkesys.png" alt="Arkesys formations">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Bewizyu2.png" alt="Bewizyu">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Ynov.png" alt="Ynov Group">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/WildCode_School.png" alt="Wild Code School - InovEduc">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Mistra.png" alt="Mistra formations">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/House_of_code.png" alt="House of Code - CCI">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="single-clients">
							<img src="{{site.baseurl}}/assets/img/clients/Diginamic.png" alt="Diginamic">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>