<section id="final-section" class="p-5">
    <div class="container" style="height: 100%;">
        <div class="row h-100">
            <div class="text-center h-100 d-flex flex-column justify-content-center align-items-center">
                <h4 class="fs-1 fw-bold">Vous ne savez pas par où commencer ?</h4>
                <p class="fs-5 text-dark">TÉLÉCHARGEZ GRATUITEMENT LA ROADMAP DU DEV ANGULAR <br> Déterminez votre niveau et démarrez votre ascension vers la maîtrise totale d'Angular</p>
                <button class="modal-roadmap btn">Commencez ici !</button>
            </div>
        </div>
    </div>
</section>