
<section class="service-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Nos formations en ligne</h2>
                    <p>Choisissez votre techno.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign formations = site.data.online_formation.formations %}
            {% for formation in formations %}
            {% if formation.hidden == false  %}
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <a href="{{formation.link}}">
						<div class="services-img" style="background-image: url('{{ formation.imgUrl }}');">
                            {% if formation.tag %}
                            <span id="tag-dis" class="badge rounded-pill tag-service">{{ formation.tag }}</span>
                            {% endif %}
						</div>
					</a>
                    <div class="services-content">
                        <div class="card-title">
                            <h5>{{formation.displayName}}</h5>
                        </div>
						<div class="card-text">
                            <p>{{formation.description}}</p>
                        </div>
						<a href="{{formation.link}}" class="btn">Plus d'infos</a>
					</div>
				</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>