<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            La technologie c’est comme le poisson. Plus ça reste en rayon, moins c’est appétissant.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>Andrew Heller</h4>
                        <span>CEO</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            La technologie peut être utilisée pour le meilleur ou le pire. Elle a transformé notre manière de vivre.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Hugh Montefiore</h4>
                        <span>Théologien</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>