<section class="testimonial-area pt-80 pb-40">
  <div class="container">
    <div class="row text-center">
      <div class="col-xl-12 section-title service-title">
        <h2 class="mb-60">Qu'en disent nos élèves ?</h2>
        <div class="testimonial-active owl-carousel">
          {% assign testimonials = site.data.testimonials %} 
          {% for testimonial in testimonials.testimonials %}
          <div class="single-item testimonial-items text-center">
            <p>
              {% assign number = testimonial.rating | integer %}
              {% for i in (1..number) %}
              ⭐
              {% endfor %}
              - 
              {{ testimonial.title }}
            </p>
            <div class="client-text">{{ testimonial.description }}</div>
            <img
              class="testimonial-img"
              src="{{testimonial.photoUrl}}"
              class="img-fluid"
              alt=""
            />
            <h4>{{testimonial.name}} <a href="{{testimonial.linkedinUrl}}" target="_blank"><i class="fab fa-linkedin testimonial-linkedin-icon"></i></a> </h4>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
