---
layout: page
title: Qui sommes-nous ?
---

<!-- about-area -->
<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-40 text-center">
                <div class="section-title service-title">
                    <h2>Notre but</h2>
                </div>
                <div class="about-content">
                    <p>L'objectif de CodeWise est de former des développeurs de tous niveaux au framework Angular et son écosystème.</p>
                </div>
                <div class="container d-flex flex-wrap justify-content-around mt-40">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3>Apprenez efficacement</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text">Nos formations parcourent les sujets en profondeur à travers des modules courts et complets.</p>
                            </aside>
                        </div>
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3>Restez à jour</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text">Les cours sont mis à jour à chaque sortie d'une nouvelle version d'Angular</p>
                            </aside>
                        </div>
                        <div class="col-xl-4 d-flex align-items-center flex-column">
                            <h3>Ne stagnez pas</h3>
                            <hr class="about">
                            <aside>
                                <p class="about-text"> Quelque soit la formation choisie, vous avez la possibilité de demander l'aide d'un formateur-expert.
                                </p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-are -->
{% include team_members.html %}
<!-- about-info -->
<section class="about-info pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title service-title text-center mb-50">
                    <h2>Nos méthodes</h2>
                </div>
                <div class="about-info-text d-flex flex-column">
                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/proximite.png"
                                class="icon-bg text-right" alt="proximité"/>
                            <h4>Nous privilégions la proximité formateur-élève</h4>
                        </div>
                        <div>
                            <p> 
                                Les formations en présentiel sont limitées en nombres d’élèves pour que le formateur reste en mesure de fournir un accompagnement personnalisé à chacun. 
                            </p>
                            <p>
                                Nos formations en ligne offrent un suivi par un expert qui répondra à vos questions, 
                                clarifiera les concepts difficiles pour vous aider à réussir.
                            </p>
                        </div>
                    </div>

                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/pratique.png" class="icon-bg" alt="pratique" />
                            <h4>Nous vous formons par la pratique</h4>
                        </div>
                        <div>
                            <p>
                                C'est en faisant qu'on apprend. 
                            </p>
                            <p>
                                Et c'est encore plus vrai pour les formations techniques.
                            </p>
                            <p>Par conséquent, sur toutes nos formations, nous accordons plus de temps à la mise en
                                pratique qu'à la théorie.</p>
                        </div>
                    </div>

                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/agenda.png" class="icon-bg" alt="agenda"/>
                            <h4>Nous nous adaptons à votre emploi du temps</h4>
                        </div>
                        <div>
                            <p>
                                Les formations e-learning sont accessibles à vie et à tout moment pour s'adapter à votre rythme.
                            </p>

                            <p>
                                Pour l'apprentissage en présentiel, nous pouvons nous adapter à votre emploi du temps grâce à différents formats (cours du soir, intensif, mi-temps).
                            </p>
                        </div>
                    </div>

                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/contenu.png" class="icon-bg" alt="contenu pédagogique"/>
                            <h4>Nous concevons nous-même nos contenus</h4>
                        </div>
                        <div>
                            <p>
                                Nous sommes experts sur Angular et son écosystème.
                            </p>
                            <p>
                                Nous avons eu l'occasion de former des grands groupes tel que la SNCF, Natixis, la chambre de commerce et d'industrie de Lyon.
                            </p>
                            <p>
                                Nos programmes vous aideront efficacement à atteindre vos objectifs et nous sommes impatients de partager nos connaissances avec vous.
                            </p>
                        </div>
                    </div>

                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/apres-formation.png"
                                class="icon-bg" alt="newsletter"/>
                            <h4>Nous continuons de vous accompagner après la formation</h4>
                        </div>
                        <div>
                            <p>
                                Après la formation, vous gardez un accès illimité à votre espace et à tous les webinaires à venir.
                            </p>
                            <p>
                                Nous vous proposons également du contenu régulier sur notre blog de veille technologique <a href="{{site.blog-url}}" target="_blank" rel="noopener">WiseBlog</a>
                            </p>
                        </div>
                    </div>
                    <div class="text-center block-box">
                        <div>
                            <img src="/assets/img/icons/about/eco.png" class="icon-bg" alt="ecologie"/>
                            <h4>Nos cours intègrent les principes de conception responsable</h4>
                        </div>
                        <div>
                            <p>La technologie engendre de plus en plus de consommation d’énergie. </p>
                            <p>
                                Nous pensons donc qu'il est primordial de communiquer avec les développeurs au sujet de
                                la sobriété numérique et de la conception logicielle responsable.
                            </p>
                            <p>La technologie est neutre. Utilisons-la avec sagesse.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% include testimonials.html %}