---
layout: page
title: Formations
---

{% include online_formation.html %}

<!-- services-area -->
<section class="service-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Nos formations en présentiel</h2>
                    <p>Choisissez votre techno.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign sortedServices = site.services | sort: 'title' %}
            {% for service in sortedServices %}
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    {% if service.icon %}
                    <a href="{{service.url}}">
						<div class="services-img" style="background-image: url('{{ service.icon }}');">
                            {% if service.tag %}
                            <span id="tag-pre" class="badge rounded-pill tag-service">{{ service.tag }}</span>
                            {% endif %}
							<!-- <img src="{{service.icon}}" class="img-fluid" alt="{{service.title}}"/> -->
                        </div>
					</a>
                    {% endif %}
                    <div class="services-content">
                        <div class="card-title">
                            <h5>{{service.title}}</h5>
                        </div>
						<div class="card-text">
                            <p>{{service.short-description}}</p>
                        </div>
						<a href="{{service.url}}" class="btn">Plus d'infos</a>
					</div>
				</div>
            </div>
            {% endfor %}
            
            <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50 "> -->
                <!-- <div class="services-box"> -->
                    <!-- <div class="services-img"> -->
                        <!-- <img src="{{site.baseurl}}/assets/img/service/2.jpg" class="img-fluid" alt=""> -->
                    <!-- </div> -->
                    <!-- <div class="services-content"> -->
                        <!-- <div class="card-title"> -->
                            <!-- <h5>Creative Design</h5> -->
                        <!-- </div> -->
                        <!-- <div class="card-text"> -->
                            <!-- <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising -->
                                <!-- pain was born and I will give you a complete.</p> -->
                        <!-- </div> -->
                        <!-- <a href="#" class="btn">Read More</a> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</section>
<!-- services-cta -->
<!-- <section class="services-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Prenez contact avec nous !</h3>
                    <p>Des questions sur un programme ? Le financement d'une formation ? Nous sommes à votre écoute.</p>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="/pages/contact" class="btn">Demander plus d'informations</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- counter-area -->
<!-- {% include countdown.html %} -->

<!-- contact-form -->
{% include contact_form.html %}
<!-- clients-area -->
{% include clients.html %}