---
layout: default
---
{% include header.html %}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "Course",
	"name": "{{page.title}}",
	"description": "{{page.description}}",
	"provider": {
		"@type": "Organization",
		"name": "{{site.title}}",
		"sameAs": "{{site.url}}"
	},
	"audience": "{{page.target | escape}}",
	"author": {
		"@type": "Person",
		"name": "{{site.author}}"
	},
	"teaches": "{{page.objectives | join: ", " | escape}}",
	"educationalLevel": "{{page.educational-level}}",
	"image": "{{site.url}}{{page.icon}}"
}
</script>
<main> 
<!-- breadcrumb-area -->
	<section class="breadcrumb-area grey-bg" style="background-image:url({{site.cover_image}})">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-8 col-md-6">
					<div class="breadcrumb-title sm-size">
						<h2>{{page.title}}</h2>
					</div>
				</div>
			</div>
			<!-- <div class="col-xl-4 col-md-6 text-left text-md-right"> -->
				<!-- <div class="breadcrumb"> -->
					<!-- <ul> -->
						<!-- <li><a href="{{site.url}}">Home</a></li> -->
						<!-- <li class="text-white pl-1">Pages /</li> -->
						<!-- <li class="text-white pl-1">{{page.title}}</li> -->
					<!-- </ul> -->
				<!-- </div> -->
			<!-- </div> -->
			
		</div>
		
	</section>
	<section id="title-section">
		<div class="container mt-50">
			<div class="row flex-row-reverse">
				<div class="service-details mb-40 col-12 col-md-6">
					{% if page.image %}
					<img class="mb-20" src="{{page.image}}" alt="{{page.title}}">
					{% endif %}
				</div>
				<div class="col-12 col-md-6 section-title mt-40 mb-60 mt-md-auto mb-md-auto"><h2>{{page.title}}</h2></div>
				
			</div>

		</div>
	</section>
	<section id="infos-formations">
		<div class="container-fluid mb-60 pt-20 pb-20 infos-formations-bg text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-lg m-3">
						<div class="row">
							<div class="col-4 align-self-center">
								<img src="{{site.url}}/assets/img/icons/sur_mesure.png" class="mw-80 mh-80 icon-bg"/>
							</div>
							<div class="col-8 align-self-center">
								<h4> Une formation flexible 100% sur mesure </h4>

								Démarrez à tout moment votre apprentissage ! Disponible à temps partiel ? Pas de problème, étudiez à votre rythme. 
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg m-3">
						<div class="row">
							<div class="col-4 align-self-center">
								<img src="{{site.url}}/assets/img/icons/suivi_perso.png" class="mw-80 mh-80 icon-bg"/>
							</div>
							<div class="col-8 align-self-center">
								<div class="">
								<h4> Un accompagnement personnalisé </h4>

								Bénéficiez de sessions de coaching privé avec un expert du métier.
								</div>
								 
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-lg m-3">
						<div class="row">
							<div class="col-4 align-self-center">
								<img src="{{site.url}}/assets/img/icons/cours_professionalisant.png" class="mw-80 mh-80 icon-bg"/>
							</div>
							<div class="col-8 align-self-center">
								<h4> Une pédagogie adaptée aux professionels </h4>

								20% de théorie. 80% d'exercices pratiques.
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg m-3">
						<div class="row">
							<div class="col-4 align-self-center">
								<img src="{{site.url}}/assets/img/icons/ressources_a_emporter.png" class="mw-80 mh-80 icon-bg"/>
							</div>
							<div class="col-8 align-self-center">
								<h4> Des contenus complémentaires </h4>

								Repartez avec tous les contenus de la formation, et des fiches-résumé ! 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="description-formation">
		<div class="container mb-20">
			<div class="row flex-row-reverse">
				<div class="col-xs-12 col-md-4 px-1">
					<div class="sticky-top mt-10" style="top:11.5em">
						<div class="row">
							<div class="col-12 mb-50">
								<div class="services-box">
									{% if page.icon %}
									<div class="services-img">
										<img src="{{page.icon}}" class="img-fluid" alt="{{page.title}}">
									</div>
									{% endif %}
									<div class="services-content">
										<div class="card-title">
											<h5>{{page.title}}</h5>
										</div>
										<div class="card-text mb-30">
											<!-- <p>{{page.short-description}}</p> -->
											<div class="row">
												<div class="col-12">
													<i class="fas fa-graduation-cap"></i> Formation qualifiante
												</div>
												<div class="col-12">
													<i class="fas fa-user-friends"></i> Suivi personnalisé
												</div>
													<div class="col-12">
													<i class="fas fa-briefcase"></i> Pédagogie adaptée aux professionnels
												</div>
											</div>
										</div>
										<div>
											{% if page.file-path %}
											<a class="btn mb-1" href="{{page.file-path}}" style="white-space: normal;" download="{{page.title}}.pdf"> Télécharger le programme </a>
											{% endif %}
											<a class="btn-blue" data-toggle="modal" data-target="#contactModal" style="white-space: normal;"> Réserver la formation </a>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
  
				<!-- Modal Reservez votre formation -->
				<div class="modal fade mt-50 mt-md-200" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="contactModalLabel">Réservez votre formation</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
								<p>Pour cela, contactez-nous ! Nous pourrons répondre à vos questions et vous inscrire à la prochaine session de formation.</p>
								<img class="img-tel" src="/assets/img/services/numero_tel.png"/>
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
  
				<!-- Modal Besoin d'aide ? -->
				<div class="modal fade mt-50 mt-md-200" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="helpModalLabel">Besoin d'aide ?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
								<p>Vous êtes sur cette page depuis plus de 2 minutes !</p>
								<p> Contactez-nous pour recevoir gratuitement l'aide de nos conseillers.</p>
								<img class="img-tel" src="/assets/img/services/numero_tel.png"/>
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8">
				
					<h1 class="font-weight-bold">Présentation de la formation</h1>


					<div class="row">
						<div class="col-md-12">
							<p>{{ page.description }}</p>
						</div>
					</div>

					{{content}}
					
					<div class="row">
						<div class="col-md-12">
							<h4><b>Durée</b></h4>
							<p>{{ page.duration }}</p>
							<p>{{ page.format }}</p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<h4><b>Environnement de travail</b></h4>
							<p>{{ page.environment }}</p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<h4><b>À qui s'adresse cette formation ?</b></h4>
							<p>{{ page.target }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h4><b>Compétences acquises grâce à cette formation</b></h4>
							<ul>
							{% for objective in page.objectives %}
								<li style="list-style: disc; list-style-position: inside;"> {{ objective }} </li>
							{% endfor %}
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<h4><b>Tarif</b></h4>
							<p>
								{{ page.price }} HT 
								(<a href="{{site.blog-url}}/comment-financer-formation-professionnelle" target="_blank">Comment faire financer ma formation professionnelle ?</a>)
							</p>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-12">
							<h1 class="font-weight-bold">Contenu de la formation</h1>
							
							{% for chapter in page.syllabus %}
								{% if chapter.bigtitle %}
									<h3 class="mt-5 font-weight-bold">{{ chapter.bigtitle }}</h3>
								{% endif %}
								<h4> <b>{{ chapter.title }}</b> </h4>
								<ul>
								{% for subpart in chapter.subparts %}
									<li style="list-style: disc; list-style-position: inside;">
										{{ subpart }}
									</li>
								{% endfor %}
								</ul>
							{% endfor %}
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<script>
		setTimeout(function() {
			$('#helpModal').modal();
		}, 120000);
	</script>
</main>